<center><h1>Trip</h1></center>
<p id="notice"><%= notice %></p>
<p><strong>Start:</strong>
  <%= @trip.start %>
</p>
<p>
  <strong>Stop:</strong>
  <%= @trip.stop %>
</p>
<p>
  <strong>Start time:</strong>
  <%= @trip.start_time %>
</p>
<p>
  <strong>Price:</strong>
  <%= @trip.price %>
</p>
<p>
  <strong>Passengers:</strong>
  <%= @trip.passengers %>
</p>
<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @trip.rating %>
</p>
<center><h1>Comment</h1></center>
<table class='table'>
  <% @trip.comments.each do |comment| %>
    <tr>
      <td><%= comment.title %></td>
      <td><%= comment.text %></td>
      <td><%= comment.author_email %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'All trips', trips_path %>
