<h2>Listing comments</h2>

<table class='table'>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.name %></td>
      <td><%= comment.text %></td>
      <td><%= comment.author_name %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Create new comment', new_trip_comment_path(@trip), class: 'btn' %></p>
<p><%= link_to 'Go to trip page', trips_path %></p>
