<center><h2>Listing users</h2></center>
<%= paginate @users %>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone number</th>
      <th>Role</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= link_to u.name,  user_path(u) %></td>
        <td><%= link_to u.surname,  user_path(u) %></td>
        <td><%= link_to u.phone_num,  user_path(u) %></td>
        <td><%= link_to u.role,  user_path(u) %></td>
        <td> <% if can? :update, p %>
          <%= link_to 'Edit', edit_user_path(u) %> |
          <% end %>
          <% if can? :destroy, p %>
          <%= link_to 'Destroy', user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %> |
          <% end %>
          <% if u.role == 'Driver' %>
          <%= link_to 'Cars', user_cars_path(u) %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
<br>

