<center><h2>Listing users</h2></center>
<%= paginate @users %>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone number</th>
      <th>Role</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |us| %>
      <tr>
        <td><%= link_to us.name,  user_path(us) %></td>
        <td><%= link_to us.surname,  user_path(us) %></td>
        <td><%= link_to us.phone_num,  user_path(us) %></td>
        <td><%= link_to us.role,  user_path(us) %></td>
        <td> <% if can? :update, us %>
          <%= link_to 'Edit', edit_user_path(us) %> |
          <% end %>
          <% if can? :destroy, us %>
          <%= link_to 'Destroy', user_path(us), method: :delete, data: { confirm: 'Are you sure?' } %> |
          <% end %>
          <% if us.role == 'Driver' %>
          <%= link_to 'Cars', user_path(us) %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
<br>

