<h2> User </h2>
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>
<p>
  <strong>Phone num:</strong>
  <%= @user.phone_num %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>
<% if @user.role == 'Driver' %>
<h2> Car </h2>
<table class='table'>
<% @user.cars.each do |car| %>
  <%= car.name %>
  <%= car.sits %>
  <%= car.driver.name %>
<% end %>
</table>
<% end %>
<%= link_to 'All user', users_path %>
