<center><h2>Sign in</h2></center>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <p><%= f.input :email, required: false, autofocus: true %></p>
    <p><%= f.input :password, required: false %></p>
    <p><% if devise_mapping.rememberable? %>
        <center><%= f.input :remember_me, as: :boolean %></center>
       <% end %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
