<%= simple_nested_form_for [@user, @car] do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>
      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.input :name, as: :text %><br>
    <%= f.input :sits, as: :number %><br>
    <%= f.association :driver, label_method: :name, value_method: :id %><br>
    <%= f.submit %>

<% end %>
