<h2>List of the cars</h2>

<table class='table'>
   <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.sits %></td>
        <td><%= car.driver_name %></td>
      </tr>
   <% end %>
</table>
<p><%= link_to 'Create new Car', new_user_car_path(@user), class: 'btn' %></p>
<p><%= link_to 'Go to user page', users_path %></p>